<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title>#{NewCompetitionType}</title>
<link rel="stylesheet" href="style.css" th:href="@{/style.css}" />
</head>
<body>

	<form action="" th:action="@{/competitionTypes/newCompetitionType}"
		th:object="${competitionType}" method="POST">
		<!--  -->

		<label for="name" th:text="#{competitionType.name}">competitionType</label>
		<input id="name" type="text" th:field="*{name}"></input> <br />

		<!--  -->

		<label for="description" th:text="#{competitionType.description}">competitionType</label>
		<input id="description" type="text" th:field="*{description}"></input>
		<br />
		<!--  -->

		<button type="submit" th:text="#{save}" />
	</form>

</body>
</html>
