<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title>Neues Land</title>
<link rel="stylesheet" href="style.css" th:href="@{/style.css}" />
</head>
<body>

	<form action="" th:action="@{/devisionTypes/newDevisionType}"
		th:object="${devisionType}" method="POST">
		<!--  -->

			<!--  -->
		<label for="code" th:text="#{country.code}">country</label>
		<input type="text" th:field="*{code}"></input> <br />

		<!--  -->
		<label for="name_en" th:text="#{country.name_en}">country</label>
		<input type="text" th:field="*{name_en}"></input> <br />

		<!--  -->
		<label for="name_de" th:text="#{country.name_de}">country</label>
		<input type="text" th:field="*{name_de}"></input> <br />

		<!--  -->
		<label for="name_fr" th:text="#{country.name_fr}">country</label>
		<input type="text" th:field="*{name_fr}"></input> <br />

		<button type="submit" th:text="#{save}" />
	</form>

</body>
</html>
