<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title>Neuer Schütze</title>
<link rel="stylesheet" href="style.css" th:href="@{/style.css}" />
</head>
<body>

	<form action="" th:action="@{/shooters/newShooter}"
		th:object="${shooter}" method="POST">


		<!--  -->
		<label for="username" th:text="#{shooter.username}">shooter</label> <input
			type="text" th:field="*{username}"></input> <br />
		<!--  -->
		<label for="username" th:text="#{shooter.firstname}">shooter</label> <input
			type="text" th:field="*{firstname}"></input> <br />
		<!--  -->
		<label for="lastname" th:text="#{shooter.lastname}">shooter</label> <input
			type="text" th:field="*{lastname}"></input> <br />
		<!--  -->
		<label for="email" th:text="#{shooter.email}">shooter</label> <input
			type="text" th:field="*{email}"></input> <br />
		<!--  -->
		
		
		<label for="country" th:text="#{shooter.country}">name</label> <select
			th:field="*{country}">
			<option th:each="country : ${countries}" th:value="${country.id}"
				th:utext="${country.code}" /> <br />
		
		<!--  -->
		<label for="ipsc_licence" th:text="#{shooter.ipsc_licence}">shooter</label> <input
			type="text" th:field="*{ipsc_licence}"></input> <br />


		<button type="submit" th:text="#{save}" />
	</form>

</body>
</html>
