<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title></title>
<link href="style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="container-fluid">
		<div class="page-title">
			<h2>
				<span class="fa fa-arrow-circle-o-left">Competition Types</span>
			</h2>
		</div>
		<div class="row">
			<table class="table datatable">
				<thead>
					<tr>
						<th th:text="#{competitionType.id}">ID</th>
						<th th:text="#{competitionType.name}">Name</th>
						<th th:text="#{competitionType.description}">Description</th>
						<th th:text="#{action}">Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="competitionType : ${competitionTypes}">
						<td><a href="#"
							th:href="@{/competitionTypes/editCompetitionType/{id}(id=${competitionType.id})}"
							th:text="${competitionType.id}"></a></td>
						<td th:text="${competitionType.name}">Text</td>
						<td th:text="${competitionType.description}">Text</td>
						<td><a href="#"
							th:href="@{/competitionTypes/editCompetitionType/{id}(id=${competitionType.id})}">Edit</a>
							<a href="#"
							th:href="@{/competitionTypes/deleteCompetitionType/{id}(id=${competitionType.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#" th:href="@{/competitionTypes/newCompetitionType}">New
				Competition Type</a> <a href="#" th:href="@{/competitionTypes}">Competition
				Types</a> <a href="#" th:href="@{/competitionTypes}">Kaliber</a> <a
				href="#" th:href="@{/competitionTypes}">Waffen</a>



		</div>
	</div>



</body>
</html>