<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title></title>
<link href="style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="container-fluid">
		<div class="page-title">
			<h2>
				<span class="fa fa-arrow-circle-o-left">Competition Types</span>
			</h2>
		</div>
		<div class="row">
			<table class="table datatable">
				<thead>
					<tr>
						<th th:text="#{devisionType.id}">ID</th>
						<th th:text="#{devisionType.name}">Name</th>
						<th th:text="#{devisionType.description}">Description</th>
						<th th:text="#{action}">Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="devisionType : ${devisionTypes}">
						<td><a href="#"
							th:href="@{/devisionTypes/editDevisionType/{id}(id=${devisionType.id})}"
							th:text="${devisionType.id}"></a></td>
						<td th:text="${devisionType.name}">Text</td>
						<td th:text="${devisionType.description}">Text</td>
						<td><a href="#"
							th:href="@{/devisionTypes/editDevisionType/{id}(id=${devisionType.id})}">Edit</a>
							<a href="#"
							th:href="@{/devisionTypes/deleteDevisionType/{id}(id=${devisionType.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#" th:href="@{/devisionTypes/newDevisionType}">New
				Devision Type</a>
			<!--  -->
			<a href="#" th:href="@{/competitionTypes}">Competition Types</a>
			<!--  -->
			<a href="#" th:href="@{/devisionTypes}">Devision Types</a>
			<!--  -->



		</div>
	</div>

	<h2>Add React in One Minute</h2>
	<p>This page demonstrates using React with no build tooling.</p>
	<p>React is loaded as a script tag.</p>

	<!-- We will put our React component inside this div. -->
	<div id="like_button_container"></div>

	<script src="https://unpkg.com/react@16/umd/react.development.js"
		crossorigin></script>
	<script
		src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
		crossorigin></script>
	<script src="like_button.js"></script>
</body>
</html>