<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<meta charset="utf-8" />
<title>Shooters</title>
<link href="style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>



	<div class="container-fluid">
		<div class="page-title">
			<h2>
				<span class="fa fa-arrow-circle-o-left">Shooters</span>
			</h2>
		</div>
		<div class="row">
			<table class="table datatable">
				<thead>
					<tr>
						<th th:text="#{shooter.id}">ID</th>
						<th th:text="#{shooter.username}">ID</th>
						<th th:text="#{shooter.firstname}">ID</th>
						<th th:text="#{shooter.lastname}">ID</th>
						<th th:text="#{shooter.country}">ID</th>
						<th th:text="#{action}">Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="shooter : ${shooters}">
						<td><a href="#"
							th:href="@{/shooters/editShooter/{id}(id=${shooter.id})}"
							th:text="${shooter.id}"></a></td>
							<td th:text="${shooter.username}">Text</td>
						<td th:text="${shooter.firstname}">Text</td>
						<td th:text="${shooter.lastname}">Text</td>
						<td th:text="${shooter.country.code}">Text</td>
						<td><a href="#"
							th:href="@{/shooters/editShooter/{id}(id=${shooter.id})}">Edit</a>
							<a href="#"
							th:href="@{/shooters/deleteShooter/{id}(id=${shooter.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#" th:href="@{/shooters/newShooter}">New</a>
			<!--  -->
			<a href="#" th:href="@{/competitionTypes}">Competition Types</a>
			<!--  -->
			<a href="#" th:href="@{/devisionTypes}">Devision Types</a>
			<!--  -->
			<a href="#" th:href="@{/countries}">Countries</a>
			<!--  -->
			<a href="#" th:href="@{/shooters}">Shooters</a>
			<!--  -->



		</div>
	</div>

</body>
</html>